In [13]:
from __future__ import division
import pandas as pd
import numpy as np

churn_df = pd.read_csv('churn.csv')
col_names = churn_df.columns.tolist()

print(col_names)

to_show = col_names[:6] + col_names[-6:]

churn_df[to_show].head(6)

['KS', ' 128', ' 415', ' 382-4657', ' no', ' yes', ' 25', ' 265.1', ' 110', ' 45.07', ' 197.4', ' 99', ' 16.78', ' 244.7', ' 91', ' 11.01', ' 10', ' 3', ' 2.7', ' 1', ' False.']

   KS   128   415   382-4657    no   yes   11.01    10   3   2.7   1   False.
0  OH   107   415   371-7191    no   yes   11.45  13.7   3  3.70   1   False.
1  NJ   137   415   358-1921    no    no    7.32  12.2   5  3.29   0   False.
2  OH    84   408   375-9999   yes    no    8.86   6.6   7  1.78   2   False.
3  OK    75   415   330-6626   yes    no    8.41  10.1   3  2.73   3   False.
4  AL   118   510   391-8027   yes    no    9.18   6.3   6  1.70   0   False.
5  MA   121   510   355-9993    no   yes    9.57   7.5   7  2.03   3   False.

In [5]:
telco_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [9]:
col_names = churn_df.columns.tolist()

print(col_names)

['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']